 <!-- formulaire de reservation -->
        <div class="index-form-container">
          <% if !current_user.host_game?(@game) %>
            <h2>Book this escape game</h2>
            <p> Réservez un temps d'apprentissage <
              <%= form_tag(new_game_booking_path(@game), :method => "get") do %>
                <div class="form-group">
                  <%= label_tag "date", "Booking date" %>
                  <%= text_field_tag :date, params[:date], placeholder: "Chose a date", class: "form-control border-radius datepicker" %>
                </div>
                <div class="form-group">
                  <%= label_tag "capacity", "Nombre de participants" %>
                  <% my_options_for_select_nb_players = (@game.min_players..@game.max_players).to_a.map { |x| [x.to_s + " players", x] } %>
                  <%= select_tag "nb_players", options_for_select(my_options_for_select_nb_players, params[:nb_players]), class: "form-control border-radius" %>
                </div>
                <div class="form-group">
                  <%= label_tag "time_select", "Available sessions" %>
                  <%= select_tag "time_select", options_for_select(@availabilities, params[:time_select]), class: "form-control border-radius" %>
                </div>
                <div class="form-group">
                  <%= label_tag "duration" %>
                  <% my_options_for_select_duration = (1..3).to_a.map { |x| [x.to_s + " hour(s)", x] } %>
                  <%= select_tag "duration", options_for_select(my_options_for_select_duration, params[:duration]), class: "form-control border-radius" %>
                </div>
                <button type="submit" class="btn btn-danger">Book</button>
              <% end %>
            </p>
