<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-4 ">
      <h2>l'adresse</h2>
      <p><%= @location.address %></p>
      <h2>la description</h2>
      <p><%= @location.description %></p>
      <h2>le lieu</h2>
      <p><%= @location.city %></p>
      <h2>la capacité</h2>
      <p><%= @location.capacity %></p>
    </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div id="map" style="width: 100%; height: 400px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div id="reservation" class="col-sm-4">
      <h2>placeholder</h2>
    </div>
  </div>
</div>
<script>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
</script>
